 .nav-item {
     width: 100%;
     border-top: 1px solid rgba(255, 255, 255, .2);
 }

 .nav-item:first-child {
     border-top: none;
 }

 .nav-link {
     color: #ffffff;
     padding: 5px 15px 7px 15px;
     transition: all .3s;
 }



 .nav-link:hover, 
 .nav-link.active {
     color: #FF6F61;
 }

 .sidebar-footer a {
     display: inline-block;
     width: 40px;
     height: 40px;
     padding: 5px 0;
     margin: 0 15px 15px 0;
     text-align: center;
     font-size: 18px;
     color: #222222;
     background: #FF6F61;
 }

 .sidebar-footer a:hover {
     color: #FF6F61;
     background: #ffffff;
 }